.header {
  text-align: center;
  padding: 10px;
}


.lineDescription {
  color: red;
}

.alignRight {
  text-align: right;
}

.errorMargin {
  margin: 10px;
}

.bottomPane {
  border-top: 1px solid black 
}